################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/USACscoreboard.TStudiosFork.sln
/USACscoreboard.TStudiosFork.njsproj
/obj/Debug
/node_modules
/bin
/.vs/USACscoreboard.TStudiosFork/v14
/.vs/config/applicationhost.config
/typings
/proxyjs/token.json
/proxyjs/client_secret.json
