################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/USACscoreboard.TStudiosFork.njsproj
/node_modules
/.vs/USACscoreboard.TStudiosFork/v14
/obj/Debug/USACscoreboard.TStudiosFork.njsproj.FileListAbsolute.txt
/obj/Debug
/bin/Microsoft.NodejsTools.WebRole.dll
/bin
/USACscoreboard.TStudiosFork.sln
